body{
    background-color: #D6DDED;
}
.inter-container{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:bolder;
  font-style: normal;
  font-size:60px;
  color:#4E47FF;
}

.nav-logo-button{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    align-items: center;
    margin-top: 10px;

   
}
.btn-primary{
     background-color: #4E47FF;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    border: 0;
}

.intro{
    text-align: center;
    font-size: 65px;
    font-weight: bolder;
    margin: 158px 152px 200px 200px;
    align-items: center;
    justify-content: center;
    display:block;
}
header{
    background-image: url("../Assets/Hero-bg.png");
    align-items: center;
    margin-top: 0%;


}

button,.focus-button{
    text-align: center;
    justify-content: center;
    margin-bottom: auto;
    margin-bottom: 157px;
    height: 48px;
    width: 132px ;
}
 .Title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.sub-title{
    font-size: 24px;
    font-weight: normal;
    color: #252432;
}
.btn-3{
    width: 229px;
    height: 48px;
}
.action-poster{
    width: 403px;
    height: 328px;
}
.action-container{
    display: flex;
    justify-content:center;
    gap: 200px;
}
.user-pro{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.user h2{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-top: 10px;
    margin-bottom: 10px;
}
.user p{
font-size: 20px;
font-weight: normal;
color: #000000;

}
.User-activity-container{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 158px;
}
.User-activity-container h2 p {
    gap: 30px;
}
.productive-user{
    background-color:  #e6e6fa;
    width: 1140px;
    height: 309px;
    border: none;
    border-radius: 15px;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.tile-1{
    font-size: 20px;
}
.sub-title-1{
    font-size: small;
}
.opinion-title{
    font-size: 42px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin-top: 137px;
}
.comment{
    display: flex;
}

.card-container{
    width: 366.67px;
    height: 243px;
    background-color:white;
    border:black;
    border-radius: 15px;
    box-shadow: #252432;

}
.card-details{
    display: flex;
    justify-content:center;
    gap: 20px;
}
.user-opinion{
    margin-bottom:100px;
}

.borolekha{
    font-size: 80px;
    font-weight: bold;
    width: 528px;
    height: 232px;
}
.form-container{
    display: flex;
    justify-content:center;
    margin-top: 100px;
    gap:100px;
    width: 1140px;
    height: 632px;
    margin: 0 auto;

}

input , textarea{
    width: 497px;
   height: 70px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;

}
textarea{
    width: 497px;
    height: 135px;
}

.footer-logo{
    font-size: 100px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bolder;
}
.footer-vai p{
    color: #8987A1;
    text-align: center;
    align-items: center;
}
.footer-text{
   font-size: 20px;
   margin-top: 10px;
}
.footer-vai{
    background-color: white;
    align-items: center;
}
.footer-vai a{
   font-size: 25px;
}
.links{
    display: flex;
  justify-content: center;
  gap: 20px;                
  margin-top: 20px;         
    
}
.links a{
    text-decoration: none;
    color: #8987A1;
}
.footer{
    width: 531px;
    height: 221px;
}
.button .btn-primary:hover{
    color: white;
}


    
